<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eliorcohen123456.batteryapp"
    android:versionCode="5"
    android:versionName="1.0.0">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/batterypic"
        android:label="@string/app_name"
        android:roundIcon="@drawable/batterypic"
        android:supportsRtl="false"
        android:theme="@style/AppTheme2">
        <activity
            android:name="com.eliorcohen123456.batteryapp.Classes.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eliorcohen123456.batteryapp.Classes.ChangeModePhone"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <receiver android:name="com.eliorcohen123456.batteryapp.BroadcastReceiver.MyBroadcastReceiverBattery">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.eliorcohen123456.batteryapp.BroadcastReceiver.BatteryReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
    </application>

</manifest>